body{
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 245, 245);
}

button{
    background-color: rgb(78, 177, 81);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.city-input, .postal-code-input{
    padding: 15px;
    border-radius: 5px;
    border-style: solid;
    height: 20px;
}

.show-trees-button{
    padding: 17px;
    font: 18px Arial, Helvetica, sans-serif, bold;
}

.show-trees-button:hover{
    background-color: rgb(110, 189, 112);
    transition: 0.15s;
}

.input-container{
    justify-content: center;
    align-items: center;
}

.trees-container{
    align-items: center;
    justify-content: center;
}

.tree-name{
    color: white;
    margin-left: 20px;
    padding-top: 10px;
}

.tree-photo-container{
    background-color: rgb(78, 177, 81);   
    border-radius: 10px;
    margin: 10px 10px 10px 100px;
    width: 325px;
}

.tree-photo{
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
    margin: 10px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    box-shadow: 5px 5px 10px 2px rgb(10 0 0 / .2);

    cursor: pointer;
}

.cloud-image{
    width: 60px;
}

.weather-info-container{
    display: flex;
    flex-direction: column;
}

.city-name{
    color: rgb(99, 154, 101);
    font-weight: bold;
}

.temperature-container{
    color: white;
    font-weight: bold;
    background-color: rgb(54, 53, 53);
    width: 35px;
    height: 20px;
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;    
}

.temperature-info-container{
    display: flex;
    align-items: center;
}

.info-container{
    margin-left: 10px;
}
