body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 85px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 245, 245);
}

button{
    background-color: rgb(78, 177, 81);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.title-container{
    width: 270px;
    margin-right: 800px;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

header {
    background: linear-gradient(to right, #136217, #58c47a);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
}
/* Opcional: enlaces de navegación */
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

.header-container{
    display: flex;
    align-items: center;
    position: fixed;
    background-color: linear-gradient(to right, #4dce7e, #439333 40%);
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    z-index: 1000;
}

.city-input, .postal-code-input{
    padding: 15px;
    border-radius: 5px;
    border-style: solid;
    height: 20px;
    width: 100%;
    max-width: 250px;
}

.show-trees-button{
    padding: 17px;
    font: 18px Arial, Helvetica, sans-serif, bold;
}

.show-trees-button:hover{
    background-color: rgb(110, 189, 112);
    transition: 0.15s;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 0 20px;
}

.tree-name{
    color: white;
    margin-left: 20px;
    padding-top: 10px;
}

.cloud-image{
    width: 60px;
}

.weather-info-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 177, 81);
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 10px 2px rgb(10 0 0 / .2);
    padding: 5px;
}

.city-name{
    color: white;
    font-weight: bold;
}

.coords-container{
    color: white;
}

.temperature-container{
    color: white;
    font-weight: bold;
    background-color: rgb(54, 53, 53);
    width: 35px;
    height: 20px;
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;    
}

.temperature-info-container{
    display: flex;
    color: white;
    align-items: center;
}

.info-container{
    margin-left: 10px;
}

.trees-to-plant{
    display: flex;
    flex-direction: column;
    width: 400px;
    height:440px;
    align-items: center;
    justify-content: center;
    background-color: rgb(78, 177, 81);
    border-radius: 9px;
    margin-bottom: 20px;
}

.tree-name{
    columns: white;
    font-weight: bold;
    margin-top: -30px;
    font-size: 25px;
}

.tree-img{
    width: 200px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 7px;
    box-shadow: 5px 5px 10px 2px rgb(10 0 0 / .2);
}

.map-container {
    margin-top: 30px;
    border-style: solid;
    color: white;
    box-shadow: 5px 5px 10px 2px rgb(10 0 0 / .2);
    height: 500px;
    width: 700px;
}